@media screen and (min-width: 1001px) {

#logo {
  float: left;
  max-width: 200px;
  padding-right: 20px;
}

h1 {
  font-size: 40px;
}

nav {
  float: right;
  position: relative;
  bottom: 120px;
}

html {
  background-color: f66767;
  font-family: 'Alegreya', serif;
}

header {
  height: 200px;
}

body {
  display: table;
}

#left-col {
  float: left;
  width: 60%;
}

#right-col {
  float: right;
  width: 40%;
}

button {
  margin-right: 20px;
}

#menu {
  height: 60%;
  position: relative;
  bottom: 50px;
}

}

@media screen and (max-width: 1000px) {
#logo {
  float: left;
  max-width: 150px;
  padding-right: 15px;
}

html {
  background-color: f66767;
  font-family: 'Alegreya', serif;
}

#left-col {
  background-color: f9d5bb;
  margin-top: 20px;
}

#right-col {
  display: none;
}

}
